In [1]:
a ="tosni ten"

len(a)

9

In [2]:
def tonsi():
    print("This is my first function in python")
    
tonsi()

This is my first function in python

In [3]:
t = tonsi()

This is my first function in python

In [4]:
print(t)

None

In [13]:
a="tonsi"

In [15]:
type(a)

str

In [17]:
type(t)

NoneType

In [21]:
def test2():
    return 6

In [23]:
test2()

6

In [27]:
d = test2()

In [30]:
d

6

In [32]:
print(d)

6

In [36]:
def test3():
    return 5

In [37]:
def test4():
    print("Aditya Prakash is a good boy")

In [39]:
test4()

Aditya Prakash is a good boy

In [41]:
test3()

5

In [42]:
def test5():
    return "Tonsi"

In [46]:
test5() + "Ten" #concatination

'TonsiTen'

In [48]:
test3() + test5()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
def test6():
    return 1,3,4,5, [6,8,2,"tonsi","ten"],(4,6,2,3,7)

In [51]:
test6()

(1, 3, 4, 5, [6, 8, 2, 'tonsi', 'ten'], (4, 6, 2, 3, 7))

In [52]:
type(test6())

tuple

In [23]:
def ten():
    return 1,4,[5,8,6,0,2,"tonsi"],(3,5,6,8,7,9)

In [24]:
a,b,c,d = ten()

In [26]:
c

[5, 8, 6, 0, 2, 'tonsi']

In [29]:
a

1

In [31]:
b

4

In [47]:
def test8():
    s = 4*5+2
    return s

In [45]:
type(test8())

int

In [44]:
test8()

17

In [49]:
test8()

22

In [51]:
test8()+2

24

In [53]:
# Give the sum of all the elements inside the list

k = [4,5,7,3,9,6,2,6]
a=0
for i in k:
    a= i+a
print(a)

42

In [6]:
def test10():
    l = [2,3,4,5,6,7,8,9]
    a = 0
    for i in l:
        a = i+a
    return(a)

In [7]:
test10()

44

In [6]:
def test11():
    l = [2,5,3,6,7,6,9,"tonsi"]
    a = 0
    for i in l:
        if type(i) == int:
            a = i+a
    return a

In [8]:
test11()

38

In [2]:
l1 = [2,5,3,6,7,6,9,"tonsi",4.5]

In [3]:
def test12(l):
    a = 0
    for i in l:
        if type(i) == int:
            a = i+a
    return a

In [4]:
test12(l1)

NameError: name 'l1' is not defined

In [3]:
def test13(a,b):
    return a+b

In [24]:
test13(10,5)

15

In [28]:
test13("tonsi","aditya")

'tonsiaditya'

In [4]:
test13(a=5 , b=6)

11

In [5]:
test13("Aditya ","Prakash ")

'Aditya Prakash '

In [11]:
l = [8,4,6,3,"tonsi",5,6,"ten","aditya",7,"prakash"]

In [2]:
def test15(l):
    """" This is my function which will help you to seperate a string from a list into new list    """
    l1=[]
    for i in l:
        if type(i) == str:
            l1.append(i)
    return l1

In [23]:
test15(l)

['tonsi', 'ten', 'aditya', 'prakash']

In [25]:
l2=["sakib","madarchod",55,89,2,"hai"]

In [26]:
test15(l2)

['sakib', 'madarchod', 'hai']

In [5]:
test12(l1)

38

In [ ]:
test15()